body {
	display: flex;
	margin: 0;
	flex-direction: column;
	font-family: 'Roboto', sans-serif;
}

.dark-background {
	background-color: #1F2937;
}

.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 10vw 0 10vw;
}

.navbar-links {
	display: flex;
}

.nav-link {
	font-size: 18px;
	margin: 0px 8px 0px 8px;
}

.navbar-logo {
	font-size: 24px;
}

.hero {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 150px 10vw 150px 10vw;
}

.hero-title {
	font-size: 48px;
	font-weight: 900;
}

.hero-text {
	margin-right: 100px;
	max-width: 600px;
	font-size: 18px;
}

.hero-image {
	color: #F9FAF8;
	width: 400px;
	height: 240px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.main-text {
	color: #F9FAF8;
}

.sub-text {
	color: #E5E7EB;
}

.button {
	color: #F9FAF8;
	background-color: #3882F6;
	width: fit-content;
	padding: 0px 12px 0px 12px;
	height: 30px;
	font-weight: 700;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 8px;
}

.feature-showcase {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 40px 0px 0px 0px;
}

.feature-title {
	margin-bottom: 40px;
}

.feature-boxes {
	display: flex;
	align-items: center;
	justify-content: center;
}

.feature-box {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0px 16px 0px 16px;
	width: 180px;
	height: 220px;
}

.feature-image {
	border-style: solid;
	border-width: 2px;
	border-color: black;
	border-radius: 10px;
	width: 180px;
	height: 180px;
}

.feature-description {
	width: 100%;
	text-align: center;
	margin-top: 12px;
}

.quote {
	background-color: #E5E7EB;
	margin: 40px 0px 40px 0px;
	padding: 20px 40px 20px 40px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.quote-container {
	max-width: 800px;
}

.quote-text {
	font-size: 36px;
	color: #1F2937;
	width: 100%;
}

.quote-name {
	width: 100%;
	text-align: right;
}

.footer {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0 10vw 0 10vw;
	height: 40px;
	color: #F9FAF8;
}

.call-to-action {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 10px 0px 50px 0px;
}

.call-to-action-container {
	background-color: #3882F6;
	border-radius: 10px;
	padding: 20px 40px 20px 40px;
	width: 1000px;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.call-to-action-title {
	font-weight: 700;
	font-size: 32px;
	color: #F9FAF8;
}

.call-to-action-text {
	color: #E5E7EB;
}

.call-to-action-container .button {
	border-style: solid;
	border-width: 2px;
  border-color: #F9FAF8;
}